################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Amazon/.vs/Amazon/v17/.suo
/Amazon/Amazon/obj/Debug/net6.0/Amazon.GeneratedMSBuildEditorConfig.editorconfig
/Amazon/Amazon.Infrastructure/obj/project.assets.json
/Amazon/.vs/Amazon/DesignTimeBuild/.dtbcache.v2
/Amazon/.vs/Amazon/FileContentIndex/09fc5fcc-796a-4954-bd09-9bfc4e2de7a0.vsidx
/Amazon/.vs/Amazon/FileContentIndex/5a40f47d-b9b6-4539-82ce-768bb145ccb7.vsidx
/Amazon/.vs/Amazon/FileContentIndex/999c3161-ff0d-4da5-9cf7-cd5ee0467de7.vsidx
/Amazon/.vs/Amazon/FileContentIndex/a17d74a3-beb0-40c4-b932-054e68e4b223.vsidx
/Amazon/.vs/Amazon/FileContentIndex/c3d75a1f-1295-46c0-b247-b4b3e092b546.vsidx
/Amazon/.vs/Amazon/FileContentIndex/d570f320-6d25-4d39-aadd-e22579e2ee93.vsidx
/Amazon/.vs/Amazon/v17/DocumentLayout.json
/Amazon/.vs/Amazon/v17/.futdcache.v2
/Amazon/.vs/Amazon/v17/.suo
